@media (max-width: 2000px) {
  .modal-dialog {
    width: 900px;
  }
}
@media (max-width: 1199px) {
  nav .consultation {
    margin-left: 5px;
    max-width: 150px;
    min-height: 75px;
  }
  nav .consultation .phone {
    font-size: 15px;
  }
  nav .consultation .btn {
    margin: 5px auto;
    padding: 5px;
  }
  nav .navbar-nav {
    font-size: 12px;
  }
  nav .navbar-nav li {
    margin-left: 5px;
  }
  .modal-dialog {
    max-width: 700px;
  }
}
@media (max-width: 991px) {
  nav ul {
    max-width: 60%;
  }
  header .info {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #correction img {
    max-width: 100%;
    margin-left: 0;
  }
  #photos .item-wrapper,
  #photos .bottom-item,
  #photos .top-item,
  #photos .center-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #models .btn-default {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .modal-dialog {
    max-width: 300px;
    margin: 10px auto;
  }
  #options p {
    background-color: rgba(0, 0, 0, 0.5);
  }
  #photos-line {
    display: none;
  }
  #hdmi .container {
    min-height: 300px;
  }
  #hdmi p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 30px;
  }
  header .info {
    width: 80%;
    font-size: 16px;
  }
  header .container {
    min-height: 300px;
  }
  table {
    font-size: 8px;
  }
  #comparision .table-wrapper {
    padding: 0;
  }
  #recognition .container {
    min-height: 600px;
  }
  #models .item-wrapper {
    margin: 10px 0;
  }
  #models .item-wrapper img {
    max-height: 200px;
  }
  #accessory .big-wrapper,
  #accessory .small-wrapper {
    min-height: 200px;
  }
  #accessory .big-wrapper img,
  #accessory .small-wrapper img {
    max-height: 190px;
  }
}
