@media (max-width: 1199px) {
    nav {
        .consultation {
            margin-left: 5px;
            max-width: 150px;
            min-height: 75px;
            .phone {
                font-size: 15px;
            }
            .btn {
                margin: 5px auto;
                padding: 5px;
            }
        }
        .navbar-nav {
            font-size: 12px;
            li {
                margin-left: 5px;
            }
        }
    }
    #photos {
    	.item-wrapper, .bottom-item, .top-item, .center-item {
    		margin-top: 20px;
    		margin-bottom: 20px;
    	}
    }
}

@media (max-width: 991px) {
    nav {
        ul {
            max-width: 60%;
        }
    }
    header {
        .info {
            font-size: 15px;
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 30px;
    }
    header {
        .info {
            width: 80%;
            font-size: 16px;
        }
        .container {
            min-height: 300px;
        }
    }
    #correction {
        img {
            max-width: 100%;
            margin-left: 0;
        }
    }
    table {
        font-size: 8px;
    }
    #comparision {
        .table-wrapper {
            padding: 0;
        }
    }
    #recognition {
        .container {
            min-height: 600px;
        }
    }
    #models {
        .item-wrapper {
            margin: 10px 0;
            img {
                max-height: 200px;
            }
        }
    }
}